﻿@using UCMRS.Models.Entity
@model UCMRS.Models.Entity.MainMenu
@{
    ViewBag.Title = "Main Menu";
}

@using (Html.BeginForm("CreateMainMenu", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card text-capitalize text-center">
        <div class="card-header text-uppercase font-weight-bold">Add Main Menu</div>
        <div class="card-body">
            <div class="col-md-7 row-fluid">
                <div class="form-group">
                    @Html.LabelFor(m => m.MenuName, new { @class = "control-label col-md-3 text-sm-right font-weight-bold" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.MenuName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MenuName)
                    </div>
                
                    <button class="btn btn-default btn-outline-primary">
                        <i class="fa fa-plus-circle">Add</i>
                    </button>
                </div>
            </div>
            
            <div class="col-md-5">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Menu Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        List<MainMenu> listMainMenus = ViewBag.MainMenu as List<MainMenu>;
                        int i = 0;
                        if (listMainMenus != null)
                        {
                            foreach (var menu in listMainMenus)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@menu.MenuName</td>
                                    <td>
                                        @Html.ActionLink("x", "DeleteMainMenu", new { id = menu.MenuId })&nbsp;
                                    </td>
                                </tr>
                            }
                        }
                    }
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}




