﻿@model IEnumerable<UCMRS.Models.Entity.MainMenu>
@{
    ViewBag.Title = "MenuIndex";
}

<div class="card">
    <div class="card-header">Main Menu</div>
    <div class="card-body">
        <div class="offset-2">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Menu Name</th>
                </tr>
                </thead>
                <tbody>
                @{
                    int i = 0;
                    foreach (var menu in Model)
                     {
                         <tr>
                             <td>@i++</td>
                             <td>@menu.MenuName</td>
                         </tr>
                     }
                }
                
                </tbody>
            </table>
        </div>
    </div>
</div>

