﻿@using System.Diagnostics
@using UCMRS.Models.Entity
@model IEnumerable<UCMRS.Models.Entity.MainMenu>
@{

    List<MainMenu> listMm = ViewBag.MainMenu as List<MainMenu>;
    List<SubMenu> listSm = ViewBag.SubMenu as List<SubMenu>;

    <div>
        <ul>

            @{
                Debug.Assert(listMm != null, nameof(listMm) + " != null");
            }
            @foreach (var item in listMm)
            {

                <li class="xn-openable">
                    <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">@item.MenuName</span></a>
                    <ul class="nav nav-pills navbar-left">

                            @if (listSm != null)
                            {
                                foreach (var smItem in listSm)
                                {
                                    if (smItem.MenuParentId == item.MenuId)
                                    {
                                        <li>
                                            <a href="@Url.Action(@smItem.ActionName,@smItem.ControllerName)">
                                                <i class="fa fa-asterisk"></i> @smItem.SubMenuName
                                            </a>
                                        </li>
                                    }
                                }
                            }
                    </ul>
                </li>





                @*<li>
                    <a href="#">
                        @item.MenuName
                    </a>

                    <ul>
                        @if (listSm != null)
                        {
                            foreach (var smItem in listSm)
                            {
                                if (smItem.MenuParentId == item.MenuId)
                                {
                                    <li>
                                        <a href="@Url.Action(@smItem.ActionName,@smItem.ControllerName)">
                                            @smItem.SubMenuName
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>*@
            }
        </ul>
    </div>
}