﻿@using UCMRS.Models.Entity
@using UCMRS.Models.View
@model UCMRS.Models.Entity.SubMenu
@{
    ViewBag.Title = "GetMenuList";
}


@using (Html.BeginForm("CreateSubMenu", "Home", FormMethod.Post))
{
    <div class="card text-center">
        <div class="card-header text-capitalize">Create Sub-Menu</div>
        <div class="card-body">
            <div class="row">
                <div class=" col-md-6">
                    <div class="form-group row">
                        @Html.LabelFor(m => m.MenuParentId, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(m=>m.MenuParentId, ViewBag.MainMenu as IEnumerable<SelectListItem>,"Select Main Menu",
                                new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.MenuParentId)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.SubMenuName, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.SubMenuName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SubMenuName)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.ControllerName, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.ControllerName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ControllerName)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.ActionName, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.ActionName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ActionName)
                        </div>
                    </div>
                    <button>Save</button>
                </div>
                
                <div class="col-md-6">
                    <table class="table table-bordered table-info">
                        <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Main Menu</th>
                            <th> SubMenu Name</th>
                            <th>Controller Name</th>
                            <th>Action Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 0;

                            if (ViewBag.SubMenu is List<Vm_SubMenu> listSubMenus)
                            {
                                foreach (var submenu in listSubMenus)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>@i</td>
                                        <td>@submenu.MainMenuName</td>
                                        <td>@submenu.SubMenuName</td>
                                        <td>@submenu.ControllerName</td>
                                        <td>@submenu.ActionName</td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
