﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>@ViewBag.Title - University Course and Result Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->


</head>
<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    @Html.ActionLink("UCRMS", "Index", "Home")
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="~/Content/img/campaign.jpg" alt="John Doe" />
                    </a>
                </li>
                @*@*<li class="xn-title">MENUS</li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text"></span></a>
                    <ul class="nav nav-pills navbar-left"></ul>
                </li>*@
                @Html.Action("GetMenuList", "Home")
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <!-- END SIGN OUT -->
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Dashboard</li>
            </ul>
            <!-- END BREADCRUMB -->
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">

                @RenderBody()

            </div>

            <!-- END PAGE CONTENT WRAPPER -->

            <footer class="offset-3 fixed-bottom pull-right">
                <p style="font-weight: bold">&copy; @DateTime.Now.Year -University Course and Result Management System</p>
            </footer>
        </div>

        <!-- END PAGE CONTENT -->
    </div>

    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='~/Content/js/bootstrap-datepicker.js'></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='~/Content/js/icheck.min.js'></script>
    <script type="text/javascript" src="~/Content/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/js/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="~/Content/js/raphael-min.js"></script>
    @*<script type="text/javascript" src="~/Content/js/morris.min.js"></script>
        <script type="text/javascript" src="~/Content/js/d3.v3.js"></script>
        <script type="text/javascript" src="~/Content/js/plugins/owl/owl.carousel.min.js"></script>*@

    <script type="text/javascript" src="~/Content/js/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/js/daterangepicker.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="~/Content/js/settings.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/js/actions.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Content/js/sweetalert2.js"></script>
    @*<script type="text/javascript" src="~/Content/js/demo_dashboard.js"></script>*@
    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->

    @RenderSection("Scripts", required: false)
    @Html.Partial("_FlashMessage")
</body>
</html>
